<!DOCTYPE html>
<html>
<head>
	<title>Traffic Signal Simulator</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	<style type="text/css">
		button {
			cursor: pointer;
		}
		.row div {
			margin-top: 5px;
		}

		.tl_frame {
			position: relative;
			float: left;
			width:100px;
			padding: 10px;
			border: 1px solid grey;
			border-radius: 5px;
			margin-left: 10px;
			text-align: center;
		}
		.light {
			height: 60px;
			width: 60px;
			border-radius: 30px;
			margin: 10px;
		}
		.red {
			background: red;
			opacity: 0.5;
		}
		.green {
			background: green;
			opacity: 0.5;
		}
		.orange {
			background: orange;
			opacity: 0.5;
		}

		#time {
			position: fixed;
			top: 5px;
			right: 5px;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="form">
					<div class="row">
						<div class="col-md-12">
							<input class="form-control" type="text" id="cluster_id" placeholder="Cluster ID" />
						</div>
						<div class="col-md-6">
							<input class="form-control" type="text" id="tl_id" placeholder="Traffic Light ID" />
						</div>
						<div class="col-md-6">
							<button class="form-control btn btn-primary" id="join">JOIN</button>
						</div>
						<div class="col-md-12">
							<button class="form-control btn btn-primary" id="simulate">SIMULATE</button>
						</div>
					</div>
				</div>
				<div class="class">
					<div class="card-header">
						Logs
					</div>
					<div class="card-body">
						mosdinoidsnnkdssdni
					</div>
				</div>
			</div>
			<div class="col-md-6" id="cluster_view">
			</div>
		</div>
	</div>
	<div id="time"></div>

	<script type="text/javascript">
		$(document).ready(function() {
			var cluster_id = null;
			var tl_id = null;
			var traffic_signals = null;
			var traffic_signal_data = null;
			var timestamp = null;
			var total_no_of_cycles = null;
			var current_cycle = 0;

			var socket = io.connect('http://' + document.domain + ':' + location.port + '/tl');

			function startTime() {
			    var today = new Date();
			    var h = today.getHours();
			    var m = today.getMinutes();
			    var s = today.getSeconds();
			    m = checkTime(m);
			    s = checkTime(s);
			    document.getElementById('time').innerHTML = h + ":" + m + ":" + s;
			    if (traffic_signal_data != null && current_cycle < traffic_signal_data.length) {
			    	console.log(current_cycle);
			    	console.log(timestamp);
			    	console.log(Date.now()/1000);
			    	if(timestamp + traffic_signal_data[current_cycle]['timer'] > Date.now()/1000) {
			    		$.each(traffic_signals, function (key, tl) {
			    			var t = $('#'+tl);
			    			console.log(current_cycle);
			    			if(tl == traffic_signal_data[current_cycle]['tl_id']) {
			    				t.find('.green').css('opacity', 1);
								t.find('.red').css('opacity', 0.25);
			    			} else {
			    				t.find('.green').css('opacity', 0.25);
								t.find('.red').css('opacity', 1);
			    			}
			    		});
			    	} else {
		    			timestamp += traffic_signal_data[current_cycle]['timer'];
		    			current_cycle += 1;
			    	}
			    }
			    var t = setTimeout(startTime, 500);
			}
			function checkTime(i) {
			    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
			    return i;
			}
			startTime();

			function populateTL() {
				console.log(traffic_signals);
				for(var i=0; i<traffic_signals.length; i++) {
					if($('#'+traffic_signals[i]).length == 0) {
						var html_str = '\
						<div class="tl_frame" id="'+traffic_signals[i]+'">\
							<h4>'+traffic_signals[i]+'</h4>\
							<div class="light red"></div>\
							<div class="light orange"></div>\
							<div class="light green"></div>\
						</div>';
						$('#cluster_view').append(html_str);
					}
				}
			}

			function chnageTlState(signal_data) {
				for(var i=0; traffic_signals.length; i++) {
					var tl = $('#'+traffic_signals[i]);
					if(signal_data[traffic_signals[i]] != undefined) {
						tl.find('.green').css('opacity', 1);
						tl.find('.red').css('opacity', 0.25);
						var time = signal_data[traffic_signals[i]];
					} else {
						tl.find('.green').css('opacity', 0.25);
						tl.find('.red').css('opacity', 1);
					}
				}
				return time;
			}

			// function syncTL() {
			// 	if(traffic_signal_data != null) {
			// 		var timeout = 0;
			// 		for(var i=0; i<traffic_signal_data.length; i++) {
			// 			var signal_data = traffic_signal_data[i];
			// 			console.log(signal_data);
			// 			var timer = timeout;
			// 			setTimeout(function () {
			// 				$.each(traffic_signals, function(key, tl) {
			// 					console.log(tl);
			// 					var t = $('#'+traffic_signal_data[i]);
			// 					if(tl == signal_data['tl_id']) {
			// 						t.find('.green').css('opacity', 1);
			// 						t.find('.red').css('opacity', 0.25);
			// 						timer = signal_data['timer'];
			// 					} else {
			// 						t.find('.red').css('opacity', 1);
			// 						t.find('.green').css('opacity', 0.25);
			// 					}
			// 					console.log(timer);
			// 				});
			// 			}, timeout*1000);
			// 			timeout = timer;
			// 		}
			// 	}
			// }

			$('#join').click(function () {
				console.log('join click');
				tl_id = $('#tl_id').val();
				cluster_id = $('#cluster_id').val();
				socket.emit('join-tl-cluster', {"tl_id": tl_id, "cluster_id": cluster_id});
		   		return false;
			});

			$('#simulate').click(function () {
				// socket.emit('simulate-cluster', {"cluster_id": cluster_id});
				$.ajax({
		    		url: '/start_cluster_simulation',
		    		type: 'GET',
		    		data: {cluster_id: cluster_id},
		    		success: function(response) {
		    			console.log(response);
		    		}
		    	});
			});

			socket.on('join-cluster-response', function (data) {
				// sync tl with cluster
				console.log(data);
				traffic_signals = data.cluster_data.traffic_signals
				populateTL();
			});

			socket.on('cluster-response', function (data) {
				console.log(data);
				// var timestamp = data.timestamp;

			});

			socket.on('simulate-cluster-response', function(data) {
				console.log(data);
				traffic_signal_data = data.data;
				timestamp = data.timestamp;
				total_no_of_cycles = traffic_signal_data.length;
				current_cycle = 0;
				console.log(traffic_signal_data);
				// syncTL();
			});
		});
	</script>
</body>
</html>