
/*Setting Map height*/
#map {
  height: 500px;
  border: 3px black solid;
}


html, body {
  margin: 0;
  padding: 0;
  background-color: #535E69;
  color: white;
}


.space-30{
	height: 30px;
}


.dest-cords{
	text-align: center;
}


.center-align{
	text-align: center;
}


#startSimulation{
	margin:auto;
}